- form_for(@auction) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :exchange_rate
    %br
    = f.text_field :exchange_rate
  %p
    = f.submit submitlabel